###  May Contain Sensitive information

.gnupg/trustdb.gpg

**/*cache
.cache
**/*hsts
**/*hst
**hst
**/*_history
**/*history
*history
**/*log

.bash_history
privhist.db
*/**/znt/privhist*

**/****REMOVED*****

.rnd
.rndh

..bfg-report/

*/**/*credentials
*credentials

secret

.config/znt/
.viminfo

.ssh

#####

workspace
go
win


**/*.tar.gz


**/.editorconfig
**/.github/
**/.gitignore
**/.idea/

/.config
!/.config/starship.toml

.zcompdump*


CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.txt
README.md
lib/
plugins/
templates/
**/themes
*tools/**
*.py
.vscode-server/
.sbt/
.local/
!/.kube/config

.mozilla/
.dbus/


.gnucash
.npm
.nvm
.java
.vim
.ivy2
.helm
.gem/
.sonar
.glide
.synaptic
.gnupg

**/*Intelli*
**/*ICE*

.oh-my-zsh/.git

.motd*

/.helm/plugins/helm-push.git



/Music/
/Pictures/
/Public/
/Templates/
/Videos/
/Downloads/
/Desktop/
/Documents/
.android/
