*

!.gitignore

!.gitconfig


!/.my-zsh/custom
!/.my-zsh/custom/*
!/.my-zsh/completions
!/.my-zsh/completions/*
!/.my-zsh/

!.zshrc
!.bashrc
!/.vimrc
!/lefthook.yml
!/settings.json


!/.config
!/.config/starship.toml
!/.config/JetBrains
!/.config/JetBrains/IntelliJIdea2020.1
!/.config/JetBrains/IntelliJIdea2020.1/
!/.config/JetBrains/IntelliJIdea2020.1/idea64.vmoptions
!/.config/JetBrains/IntelliJIdea2020.1/codestyles/
!/.config/JetBrains/IntelliJIdea2020.1/codestyles/*
!/.config/JetBrains/IntelliJIdea2020.1/options/
!/.config/JetBrains/IntelliJIdea2020.1/options/keymap.xml
!/.config/JetBrains/IntelliJIdea2020.1/options/kubernetes-settings.xml

!/bin
!/bin/assume-role

!/devcli
!/devcli/devcli.d
!/devcli/devcli.d/*
!/devcli/*
