*

!.gitignore


!/.my-zsh/custom
!/.my-zsh/custom/*
!/.my-zsh/completions
!/.my-zsh/completions/*
!/.my-zsh/

!/.vimrc
!/lefthook.yml
!/settings.json


!/.config
!/.config/starship.toml
!/.config/settings.json

!/bin
!/bin/assume-role

!/devcli
!/devcli/devcli.d
!/devcli/devcli.d/*
!/devcli/devcli
!/devcli/_boilerplate.sh

!/devcli/conf
!/devcli/conf/requirements.txt
